<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SB Admin - Bootstrap Admin Template</title>

    <!-- Bootstrap Core CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/static/css/sb-admin.css" rel="stylesheet">

    <!-- Morris Charts CSS -->
    <link href="/static/css/plugins/morris.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="/static/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <script type="text/javascript" src="/static/js/jquery.js"></script>

</head>

<body>

    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="http://{$Think.server.server_name}/teach">WTF University</a>
            </div>
            <!-- Top Menu Items -->
            <ul class="nav navbar-right top-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-envelope"></i> <b class="caret"></b></a>
                    <ul class="dropdown-menu message-dropdown">
                        <li class="message-preview">
                            <a href="#">
                                <div class="media">
                                    <span class="pull-left">
                                        <img class="media-object" src="http://placehold.it/50x50" alt="">
                                    </span>
                                    <div class="media-body">
                                        <h5 class="media-heading"><strong>John Smith</strong>
                                        </h5>
                                        <p class="small text-muted"><i class="fa fa-clock-o"></i> Yesterday at 4:32 PM</p>
                                        <p>Lorem ipsum dolor sit amet, consectetur...</p>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="message-preview">
                            <a href="#">
                                <div class="media">
                                    <span class="pull-left">
                                        <img class="media-object" src="http://placehold.it/50x50" alt="">
                                    </span>
                                    <div class="media-body">
                                        <h5 class="media-heading"><strong>John Smith</strong>
                                        </h5>
                                        <p class="small text-muted"><i class="fa fa-clock-o"></i> Yesterday at 4:32 PM</p>
                                        <p>Lorem ipsum dolor sit amet, consectetur...</p>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="message-preview">
                            <a href="#">
                                <div class="media">
                                    <span class="pull-left">
                                        <img class="media-object" src="http://placehold.it/50x50" alt="">
                                    </span>
                                    <div class="media-body">
                                        <h5 class="media-heading"><strong>John Smith</strong>
                                        </h5>
                                        <p class="small text-muted"><i class="fa fa-clock-o"></i> Yesterday at 4:32 PM</p>
                                        <p>Lorem ipsum dolor sit amet, consectetur...</p>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="message-footer">
                            <a href="#">Read All New Messages</a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-bell"></i> <b class="caret"></b></a>
                    <ul class="dropdown-menu alert-dropdown">
                        <li>
                            <a href="#">Alert Name <span class="label label-default">Alert Badge</span></a>
                        </li>
                        <li>
                            <a href="#">Alert Name <span class="label label-primary">Alert Badge</span></a>
                        </li>
                        <li>
                            <a href="#">Alert Name <span class="label label-success">Alert Badge</span></a>
                        </li>
                        <li>
                            <a href="#">Alert Name <span class="label label-info">Alert Badge</span></a>
                        </li>
                        <li>
                            <a href="#">Alert Name <span class="label label-warning">Alert Badge</span></a>
                        </li>
                        <li>
                            <a href="#">Alert Name <span class="label label-danger">Alert Badge</span></a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">View All</a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> {$_SESSION['think']['uname']} <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="http://{$Think.server.server_name}/teach/fixinfo"><i class="fa fa-fw fa-user"></i> 个人信息</a>
                        </li>
                        <li>
                            <a href="http://{$Think.server.server_name}/teach/homework"><i class="fa fa-fw fa-gear"></i> 发布作业</a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#"><i class="fa fa-fw fa-power-off"></i> 退出</a>
                        </li>
                    </ul>
                </li>
            </ul>
            <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav side-nav">
                    <li>
                        <a href="http://{$Think.server.server_name}/teach"><i class="fa fa-fw fa-dashboard"></i> 管理首页</a>
                    </li>
                    <li>
                        <a href="http://{$Think.server.server_name}/teach/charts"><i class="fa fa-fw fa-bar-chart-o"></i> 助教管理</a>
                    </li>
                    <li>
                        <a href="http://{$Think.server.server_name}/teach/tables"><i class="fa fa-fw fa-table"></i> 表格页</a>
                    </li>
                    <li>
                        <a href="http://{$Think.server.server_name}/teach/forms"><i class="fa fa-fw fa-edit"></i> 资料管理</a>
                    </li>
                    <li>
                        <a href="http://{$Think.server.server_name}/teach/bootstrapelements"><i class="fa fa-fw fa-desktop"></i> Bootstrap Elements列表</a>
                    </li>
                    <li>
                        <a href="http://{$Think.server.server_name}/teach/homework"><i class="fa fa-fw fa-wrench"></i> 布置作业</a>
                    </li>
                    
                    <li>
                        <a href="http://{$Think.server.server_name}/index/teach/mywork"><i class="fa fa-fw fa-table"></i> 查看作业</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </nav>

        <div id="page-wrapper">

            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            提升助教
                        </h1>
                        <ol class="breadcrumb">
                            <li>
                                <i class="fa fa-dashboard"></i>  <a href="index.html">管理首页</a>
                            </li>
                            <li class="active">
                                <i class="fa fa-bar-chart-o"></i> 提升助教
                            </li>
                        </ol>
                    </div>
                </div>

                <div class="row" style="margin-bottom: 30px;">
                    <button type="submit" class="btn btn-info" style="margin-left:20px;" id="click_studen">选择学生为助教</button>
                    <button type="submit" class="btn btn-info" style="margin-left:20px;" id="click_teach">选择教师为助教</button>
                    <button type="submit" class="btn btn-info" style="margin-left:20px;" id="click_zhujiao">查看助教情况</button>
                </div>

<!--**********************************************选择学生助教****************************************************-->
                <div id="students" >
                    <div class="row">
                        <div class="col-lg-9">
                            <div class="panel panel-yellow ">
                                <div class="panel-heading">
                                    <h3 class="panel-title">tips:</h3>
                                </div>
                                <div class="panel-body">
                                    如果需要选择学生为助教，将只能认命为该学生所在班级的助教！
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="margin-bottom: 10px;">
                        <label style="font-size:24px;margin-left:15px;padding-top:5px;">请选择班级：</label>
                        {foreach $class as $key => $value}
                        <button type="submit" class="btn btn-info" style="margin-left:20px;margin-top:-8px;" id="click_pick" value="{$key}" name="click_pick">{$value[0]['class']}</button>
                        {/foreach}
                    </div>
                    <div class="row" id="showclass" value="1111" name="1111">
                        {foreach $class as $keys => $values}
                        <input hidden id="classname" value="{$keys}">
                        <div class="col-lg-9 " name="bianlibanji" class="bianlibanji" value="{$keys}" id="{$keys}" style="display:none;">
                            <div class="table-responsive">
                                <table class="table table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <th>学号</th>
                                            <th>姓名</th>
                                            <th>状态</th>
                                            <th>提升</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    {foreach $values as $val}
                                        <tr>
                                            <td>{$val['uid']}</td>
                                            <td>{$val['uname']}</td>
                                            <td>{$val['role']}</td>
                                            {if empty($val['zhujiao'])}
                                                <td><button type="submit" class="btn btn-success" style="margin-left:24px;height:20px;font-size:12px;line-height: 6px;" name="tisheng_stu" value="{$val['uid']}">提升</button></td>
                                                <input hidden id="stu{$val['uid']}" value="{$val['class']}/1">
                                            {else}
                                                <td><button type="submit" class="btn btn-danger" style="margin-left:24px;height:20px;font-size:12px;line-height: 6px;" name="tisheng_stu" value="{$val['uid']}">降职</button></td>
                                                <input hidden id="stu{$val['uid']}" value="{$val['class']}/0">
                                            {/if}
                                        </tr>
                                    {/foreach}
                                    
                                    </tbody>
                                </table>
                            </div>
                            {foreach $fenye as $page}
                                {$page}
                            {/foreach}
                        </div>
                        {/foreach}

                        
                    </div>
                </div>
                <!-- /.row -->

                <script>
                    $(function(){
                        /*这里是选择学生助教时的JQuery部分！！！！！*/
                        //拼接第一个班级的ID选择器字符串，并让它默认显示；
                        var firstclass = '#' + $("#showclass").children("input:first-child").val();

                        $(firstclass).show();

                        $("#click_teach").unbind('click').click(function(){
                            $("#teacher").show();
                            $("#students").hide();
                            $("#zhujiao").hide();
                        });

                        $("#click_studen").unbind('click').click(function(){
                            $("#teacher").hide();
                            $("#students").show();
                            $("#zhujiao").hide();
                        });

                        $("#click_zhujiao").unbind('click').click(function(){
                            $("#teacher").hide();
                            $("#students").hide();
                            $("#zhujiao").show();
                        });

                        //教师部分！
                        $("button[name='tisheng_teach']").unbind('click').click(function(){
                            //拼接对应hidden的id，以便确定操作
                            $.ajax({
                            cache: true,
                            type: "POST",
                            url:"http://fuck.io/index/teach/docharts",
                            data:{
                                "type":$("#type_teach").val(), 
                                "class":$(this).val(),                     
                                },
                                async: false,
                                error: function(request) {
                                    alert("Connection error");
                                },
                                success: function(result) {

                                }
                            });
                            
                            location.reload(false); 
                        });

                        //列表部分！
                        $("button[name='click_del']").unbind('click').click(function(){
                            //alert($(this).val());
                            //var ban = '#del' + $(this).val();

                            $.ajax({
                            cache: true,
                            type: "POST",
                            url:"http://fuck.io/index/teach/delcharts",
                            data:{
                                "type":$(this).val(),                    
                                },
                                async: false,
                                error: function(request) {
                                    alert("Connection error");
                                },
                                success: function(result) {

                                }
                            });
                        });


                        //学生部分！--点击提升或降职按钮触发
                        $("button[name='tisheng_stu']").unbind('click').click(function(){
                            //拼接对应hidden的id，以便确定操作
                            var type = '#stu' + $(this).val();
                            $.ajax({
                            cache: true,
                            type: "POST",
                            url:"http://fuck.io/index/teach/docharts",
                            data:{
                                "type":$(type).val(), 
                                "uid":$(this).val(),                     
                                },
                                async: false,
                                error: function(request) {
                                    alert("Connection error");
                                },
                                success: function(result) {

                                }
                            });
                            //location.reload(false); 
                        });
                        
                        //学生部分
                        $("button[name='click_pick']").unbind('click').click(function(){
                            //拼接你点击的班级按钮的ID选择器字符串，再把其他班级隐藏，点击的班级显示
                            var clickclass = '#' + $(this).val();
                            $("div[name='bianlibanji']").hide();
                            $(clickclass).show();

                            //点击提升或降职按钮触发
                            $("button[name='tisheng_stu']").unbind('click').click(function(){
                                //拼接对应hidden的id，以便确定操作
                                var type = '#stu' + $(this).val();
                                $.ajax({
                                cache: true,
                                type: "POST",
                                url:"http://fuck.io/index/teach/docharts",
                                data:{
                                    "type":$(type).val(), 
                                    "uid":$(this).val(),                     
                                    },
                                    async: false,
                                    error: function(request) {
                                        alert("Connection error");
                                    },
                                    success: function(result) {

                                    }
                                });
                                //location.reload(false); 
                            });
                        });
                    });
                </script>
<!--*******************************************选择教师助教*******************************************************-->
                <!-- Flot Charts -->
                <div id="teacher" style="display:none;margin-bottom: 160px;">
                    <div class="row">
                        <div class="col-lg-9 ">
                            <div class="table-responsive">
                            
                                <table class="table table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <th>校园ID</th>
                                            <th>姓名</th>
                                            <th>状态</th>
                                            <th>操作</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {foreach $teach as $teacher}
                                        <tr>
                                            <td>{$teacher['uid']}</td>
                                            <td>{$teacher['uname']}</td>
                                            <td></td>
                                            <td>
                                            {foreach $class as $key => $value}
                                            
                                            <button type="submit" class="btn btn-info" style="margin-left:24px;height:20px;font-size:12px;line-height: 6px;" id="click_pick" value="{$value[0]['class']}/{$teacher['uid']}" name="tisheng_teach">{$value[0]['class']}</button>
                                            {/foreach}
                                            </td>
                                        </tr>
                                        {/foreach}
                                        <input hidden id="type_teach" value="teach">
                                    </tbody>
                                </table>
                            
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.row -->
<!--**************************************查看班级助教状态*********************************************************-->
                <div id="zhujiao" style="display:none;margin-bottom: 240px;">
                    <div class="row">
                        <div class="col-lg-9 ">
                            <div class="table-responsive">
                            
                                <table class="table table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <th>班级</th>
                                            <th>状态</th>
                                            <th>助教</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {foreach $list as $info}
                                        <tr>
                                            <td>{$info['class']}</td>
                                            <td>正常</td>
                                            <td>
                                            {if empty($info['zhujiao1']) && empty($info['zhujiao2']) && empty($info['zhujiao3'])}
                                                这个班没有助教
                                            {/if}
                                            {if !empty($info['zhujiao1'])}
                                                <button type="submit" class="btn btn-info" style="margin-left:24px;height:20px;font-size:12px;line-height: 6px;" name="click_del" value="{$info['zhujiao1']}/{$info['class']}" >{$info['zhujiao1']|stristr='/'|trim='/'}</button>
                                                
                                            {else}
                                            {/if}
                                            {if !empty($info['zhujiao2'])}
                                                <button type="submit" class="btn btn-info" style="margin-left:24px;height:20px;font-size:12px;line-height: 6px;" name="click_del" value="{$info['zhujiao2']}/{$info['class']}" >{$info['zhujiao2']|stristr='/'|trim='/'}</button>
                                               
                                            {else}
                                            {/if}
                                            {if !empty($info['zhujiao3'])}
                                                <button type="submit" class="btn btn-info" style="margin-left:24px;height:20px;font-size:12px;line-height: 6px;" name="click_del" value="{$info['zhujiao3']}/{$info['class']}">{$info['zhujiao3']|stristr='/'|trim='/'}</button>
                                            {else}
                                            {/if}
                                            </td>
                                        </tr>
                                        {/foreach}
                                        <input hidden id="type_teach" value="teach">
                                    </tbody>
                                </table>
                            
                            </div>
                        </div>
                    </div>
                </div>
                
                <!-- /.row -->

                <!-- Morris Charts -->
                
                <!-- /.row -->

                
                <!-- /.row -->

            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="/static/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/static/js/bootstrap.min.js"></script>

    <!-- Morris Charts JavaScript -->
    <script src="/static/js/plugins/morris/raphael.min.js"></script>
    <script src="/static/js/plugins/morris/morris.min.js"></script>
    <script src="/static/js/plugins/morris/morris-data.js"></script>

    <!-- Flot Charts JavaScript -->
    <!--[if lte IE 8]><script src="js/excanvas.min.js"></script><![endif]-->
    <script src="/static/js/plugins/flot/jquery.flot.js"></script>
    <script src="/static/js/plugins/flot/jquery.flot.tooltip.min.js"></script>
    <script src="/static/js/plugins/flot/jquery.flot.resize.js"></script>
    <script src="/static/js/plugins/flot/jquery.flot.pie.js"></script>
    <script src="/static/js/plugins/flot/flot-data.js"></script>

</body>

</html>
