<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SB Admin - Bootstrap Admin Template</title>

    <!-- Bootstrap Core CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/static/css/sb-admin.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="/static/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <script src="/static/js/jquery.js"></script>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="http://{$Think.server.server_name}/stu">WTF University</a>
            </div>
            <!-- Top Menu Items -->
            <ul class="nav navbar-right top-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-envelope"></i> <b class="caret"></b></a>
                    <ul class="dropdown-menu message-dropdown">
                        <li class="message-preview">
                            <a href="#">
                                <div class="media">
                                    <span class="pull-left">
                                        <img class="media-object" src="http://placehold.it/50x50" alt="">
                                    </span>
                                    <div class="media-body">
                                        <h5 class="media-heading"><strong>John Smith</strong>
                                        </h5>
                                        <p class="small text-muted"><i class="fa fa-clock-o"></i> Yesterday at 4:32 PM</p>
                                        <p>Lorem ipsum dolor sit amet, consectetur...</p>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="message-preview">
                            <a href="#">
                                <div class="media">
                                    <span class="pull-left">
                                        <img class="media-object" src="http://placehold.it/50x50" alt="">
                                    </span>
                                    <div class="media-body">
                                        <h5 class="media-heading"><strong>John Smith</strong>
                                        </h5>
                                        <p class="small text-muted"><i class="fa fa-clock-o"></i> Yesterday at 4:32 PM</p>
                                        <p>Lorem ipsum dolor sit amet, consectetur...</p>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="message-preview">
                            <a href="#">
                                <div class="media">
                                    <span class="pull-left">
                                        <img class="media-object" src="http://placehold.it/50x50" alt="">
                                    </span>
                                    <div class="media-body">
                                        <h5 class="media-heading"><strong>John Smith</strong>
                                        </h5>
                                        <p class="small text-muted"><i class="fa fa-clock-o"></i> Yesterday at 4:32 PM</p>
                                        <p>Lorem ipsum dolor sit amet, consectetur...</p>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="message-footer">
                            <a href="#">Read All New Messages</a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-bell"></i> <b class="caret"></b></a>
                    <ul class="dropdown-menu alert-dropdown">
                        <li>
                            <a href="#">Alert Name <span class="label label-default">Alert Badge</span></a>
                        </li>
                        <li>
                            <a href="#">Alert Name <span class="label label-primary">Alert Badge</span></a>
                        </li>
                        <li>
                            <a href="#">Alert Name <span class="label label-success">Alert Badge</span></a>
                        </li>
                        <li>
                            <a href="#">Alert Name <span class="label label-info">Alert Badge</span></a>
                        </li>
                        <li>
                            <a href="#">Alert Name <span class="label label-warning">Alert Badge</span></a>
                        </li>
                        <li>
                            <a href="#">Alert Name <span class="label label-danger">Alert Badge</span></a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">View All</a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> {$_SESSION['think']['uname']} <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="http://{$Think.server.server_name}/stu/profile"><i class="fa fa-fw fa-user"></i> 个人信息</a>
                        </li>
                        <li>
                            <a href="http://{$Think.server.server_name}/stu/homework"><i class="fa fa-fw fa-gear"></i> 发布作业</a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#"><i class="fa fa-fw fa-power-off"></i> 退出</a>
                        </li>
                    </ul>
                </li>
            </ul>
            <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav side-nav">
                    <li class="active">

                        <a href="http://{$Think.server.server_name}/stu/index"><i class="fa fa-fw fa-dashboard"></i> 我的首页</a>
                    </li>
                    <li>
                        <a href="http://{$Think.server.server_name}/stu/charts"><i class="fa fa-fw fa-bar-chart-o"></i> 成绩分析</a>
                    </li>
                    <li>
                        <a href="http://{$Think.server.server_name}/stu/tables"><i class="fa fa-fw fa-table"></i> 表格页</a>
                    </li>
                    <li>
                        <a href="http://{$Think.server.server_name}/stu/profile"><i class="fa fa-fw fa-edit"></i> 资料管理</a>
                    </li>
                    <li>
                        <a href="http://{$Think.server.server_name}/stu/bootstrapelements"><i class="fa fa-fw fa-desktop"></i> Bootstrap Elements列表</a>
                    </li>
                    <li>
                        <a href="http://{$Think.server.server_name}/stu/bootstrapgrid"><i class="fa fa-fw fa-wrench"></i> 作业历史</a>

                    </li>
                    <li>
                        <a href="http://{$Think.server.server_name}/stu/homework"><i class="fa fa-fw fa-table"></i> 当前作业</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </nav>

        <div id="page-wrapper">

            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            资料管理
                        </h1>
                        <ol class="breadcrumb">
                            <li>
                                <i class="fa fa-dashboard"></i>  <a href="index.html">首页</a>
                            </li>
                            <li class="active">
                                <i class="fa fa-edit"></i> 个人信息
                            </li>
                        </ol>
                    </div>
                    <div class="col-sm-12">
                        <div class="panel panel-yellow">
                            <div class="panel-heading">
                                <h3 class="panel-title">tips:</h3>
                            </div>
                            <div class="panel-body">
                                如果您的身份证与真实姓名等无法修改的资料有误，请您向班主任提交修改，我们将在9月21号统一修改。
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.row -->

                <div class="row" style="margin-bottom: 30px;display:block;" id="userinfo_list" >
                    <div class="col-lg-3">
                        <h2></h2>
                        <div class="table-responsive">
                            <img src="/static/image/ROTK.jpg" width="" height="100%">
                        </div>
                    </div>
                    <div class="col-lg-9">
                        <h2>{$_SESSION['think']['uname']}</h2>
                        <div class="table-responsive">
                            <table class="table table-hover table-striped">                             
                                <tbody>
                                    <tr>
                                        <td>身份证</td>
                                        <td>{$userinfo['id_card']}</td>
                                        <td>真实姓名</td>
                                        <td>{$userinfo['true_name']}</td>
                                    </tr>
                                    <tr>
                                        <td>手机号</td>
                                        <td>{$userinfo['phone']}</td>
                                        <td>Email</td>
                                        <td>{$userinfo['email']}</td>
                                    </tr>
                                    <tr>
                                        <td>住址街道</td>
                                        <td>{$userinfo['add']}</td>
                                        <td>详细地址</td>
                                        <td>{$userinfo['dizhi']}</td>
                                    </tr>
                                    <tr>
                                        <td>所属院系</td>
                                        <td>{$userinfo['yuanxi']}</td>
                                        <td>科目</td>
                                        <td>{$userinfo['kemu']}</td>
                                    </tr>
                                    <tr>
                                        <td>班级</td>
                                        <td colspan="3">{$userinfo['class']}</td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="text-right col-lg-2" style="margin-left: -15px;">
                                    <a id="update_userinfo">资料更新？ <i class="fa fa-arrow-circle-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-bottom: 30px;display:block;" id="userinfo_fix">
                    <div class="col-lg-3">
                        <h2></h2>
                        <div class="table-responsive">
                            <img src="/static/image/ROTK.jpg" width="" height="100%">
                        </div>
                    </div>
                    <div class="col-lg-9">
                        <h2>{$_SESSION['think']['uname']}</h2>
                        <div class="table-responsive">
                            <div class="alert alert-warning">
                                <strong>提示：</strong> 请您如实填写资料！
                            </div>
                            <table class="table table-hover table-striped">
                               <form id="fix_put" method="post">
                                <tbody>
                                    <tr>
                                        <td>身份证</td>
                                        <td>{$userinfo['id_card']}</td>
                                        <td>真实姓名</td>
                                        <td>{$userinfo['true_name']}</td>
                                    </tr>
                                    <tr>
                                        <td>手机号</td>
                                        <td><input class="form-control" id="fix_phone" value ="{$userinfo['phone']}" style="height:20px;width:170px;"></td>
                                        <td>Email</td>
                                        <td><input class="form-control" id="fix_email" value ="{$userinfo['email']}" style="height:20px;width:170px;"></td>
                                    </tr>
                                    <tr>
                                        <td>住址街道</td>
                                        <td><input class="form-control" id="fix_add" value ="{$userinfo['add']}" style="height:20px;width:170px;"></td>
                                        <td>详细地址</td>
                                        <td><input class="form-control" id="fix_dizhi" value ="{$userinfo['dizhi']}" style="height:20px;width:170px;"></td>
                                    </tr>
                                    <tr>
                                        <td>所属院系</td>
                                        <td><input class="form-control" id="fix_yuanxi" value ="{$userinfo['yuanxi']}" style="height:20px;width:170px;"></td>
                                        <td>专业</td>
                                        <td><input class="form-control" id="fix_kemu" value ="{$userinfo['kemu']}" style="height:20px;width:170px;"></td>
                                    </tr>
                                    <tr>
                                        <td>班级</td>
                                        <td colspan="3"><input class="form-control" id="fix_class" value ="{$userinfo['class']}" style="height:20px;width:300px;"></td>
                                        
                                    </tr>
                                </tbody>
                                </form>
                            </table>
                            <div class="text-right col-lg-12" style="margin-left: -15px;">
                                <a id="update_userinfo" class="col-lg-2"><input type="file"></a>
                                <span id="update_userinfo" class="col-lg-8" style="margin-top:-10px;">
                                    <button type="submit" class="btn btn-default" id="push_data">提交更新</button>
                                    <button type="submit" class="btn btn-default" id="return_data" style="margin-left:50px;">返回</button>
                                </span>

                            </div>
                        </div>
                    </div>
                </div>
                <script>
                    $(function(){
                        $("#userinfo_fix").hide();
                        $('#update_userinfo').unbind('click').click(function(){
                            $("#userinfo_list").hide();
                            $("#userinfo_fix").show();
                        });
                        $('#push_data').unbind('click').click(function(){
                            var str = '';
                            // 验证手机号      
                            function isPhoneNo(phone) { 
                             var pattern = /^(13[0-9]|14[5|7]|15[0|1|2|3|5|6|7|8|9]|18[0|1|2|3|5|6|7|8|9])\d{8}$/; 
                             return pattern.test(phone); 
                            }      

                            // 验证邮箱      
                            function isEmail(email) { 
                             var pattern = /^\w+((-\w+)|(\.\w+))*\@[A-Za-z0-9]+((\.|-)[A-Za-z0-9]+)*\.[A-Za-z0-9]+$/; 
                             return pattern.test(email); 
                            }    

                            if ($.trim($('#fix_phone').val()).length == 0) { 
                                str += '请输入手机号\n';
                            } else {
                                if(isPhoneNo($('#fix_phone').val()) == false) {
                                str += '手机号码不正确\n';
                                }
                            }

                            if ($.trim($('#fix_email').val()).length == 0) { 
                                str += '请输入邮箱号\n';
                            } else {
                                if(isEmail($('#fix_email').val()) == false) {
                                str += '邮箱格式不正确\n';
                                }
                            }

                            if ($.trim($('#fix_add').val()).length == 0) { 
                                str += '请输入街道\n';
                            }

                            if ($.trim($('#fix_dizhi').val()).length == 0) { 
                                str += '请输入详细地址\n';
                            }

                            if ($.trim($('#fix_yuanxi').val()).length == 0) { 
                                str += '请输入院系\n';
                            }

                            if ($.trim($('#fix_kemu').val()).length == 0) { 
                                str += '请输入专业\n';
                            }

                            if ($.trim($('#fix_class').val()).length == 0) { 
                                str += '请输入班级\n';
                            }

                            if(str != '') {
                                alert(str);
                                return false;
                            } else {
                                $.ajax({
                                    cache: true,
                                    type: "POST",
                                    url:"http://fuck.io/stu/setProfile",
                                    data:{
                                      "phone":$("#fix_phone").val(),
                                      "email":$("#fix_email").val(), 
                                      "add":$("#fix_add").val(),
                                      "dizhi":$("#fix_dizhi").val(),
                                      "yuanxi":$("#fix_yuanxi").val(),
                                      "kemu":$("#fix_kemu").val(),
                                      "class":$("#fix_class").val(),                      
                                    },
                                    async: false,
                                    error: function(request) {
                                        alert("Connection error");
                                    },
                                    success: function(result) {
                                        //var url = "http://fuck.io/teach/" + result + "/fixinfo";
                                        //url = url.replace(/\"/g, ""); 
                                    }
                                });
                                location.reload(false);
                            }  
                        });
                        $('#return_data').unbind('click').click(function(){
                            $("#userinfo_fix").hide();
                            $("#userinfo_list").show();
                        });
                    });
                    
                </script>
                <!-- /.row -->

            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->


    <!-- Bootstrap Core JavaScript -->
    <script src="/static/js/bootstrap.min.js"></script>

</body>

</html>
