<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SB Admin - Bootstrap Admin Template</title>

    <!-- Bootstrap Core CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/static/css/sb-admin.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="/static/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <script type="text/javascript" src="/static/js/jquery.js"></script>



    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script type="text/javascript" src="/static/js/jquery.js"></script>

</head>

<body>

    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="http://fuck.io/stu">WTF University</a>
            </div>
            <!-- Top Menu Items -->
            <ul class="nav navbar-right top-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-envelope"></i> <b class="caret"></b></a>
                    <ul class="dropdown-menu message-dropdown">
                        <li class="message-preview">
                            <a href="#">
                                <div class="media">
                                    <span class="pull-left">
                                        <img class="media-object" src="http://placehold.it/50x50" alt="">
                                    </span>
                                    <div class="media-body">
                                        <h5 class="media-heading"><strong>John Smith</strong>
                                        </h5>
                                        <p class="small text-muted"><i class="fa fa-clock-o"></i> Yesterday at 4:32 PM</p>
                                        <p>Lorem ipsum dolor sit amet, consectetur...</p>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="message-preview">
                            <a href="#">
                                <div class="media">
                                    <span class="pull-left">
                                        <img class="media-object" src="http://placehold.it/50x50" alt="">
                                    </span>
                                    <div class="media-body">
                                        <h5 class="media-heading"><strong>John Smith</strong>
                                        </h5>
                                        <p class="small text-muted"><i class="fa fa-clock-o"></i> Yesterday at 4:32 PM</p>
                                        <p>Lorem ipsum dolor sit amet, consectetur...</p>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="message-preview">
                            <a href="#">
                                <div class="media">
                                    <span class="pull-left">
                                        <img class="media-object" src="http://placehold.it/50x50" alt="">
                                    </span>
                                    <div class="media-body">
                                        <h5 class="media-heading"><strong>John Smith</strong>
                                        </h5>
                                        <p class="small text-muted"><i class="fa fa-clock-o"></i> Yesterday at 4:32 PM</p>
                                        <p>Lorem ipsum dolor sit amet, consectetur...</p>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="message-footer">
                            <a href="#">Read All New Messages</a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-bell"></i> <b class="caret"></b></a>
                    <ul class="dropdown-menu alert-dropdown">
                        <li>
                            <a href="#">Alert Name <span class="label label-default">Alert Badge</span></a>
                        </li>
                        <li>
                            <a href="#">Alert Name <span class="label label-primary">Alert Badge</span></a>
                        </li>
                        <li>
                            <a href="#">Alert Name <span class="label label-success">Alert Badge</span></a>
                        </li>
                        <li>
                            <a href="#">Alert Name <span class="label label-info">Alert Badge</span></a>
                        </li>
                        <li>
                            <a href="#">Alert Name <span class="label label-warning">Alert Badge</span></a>
                        </li>
                        <li>
                            <a href="#">Alert Name <span class="label label-danger">Alert Badge</span></a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">View All</a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> {$_SESSION['think']['uname']} <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="http://fuck.io/stu/fixinfo"><i class="fa fa-fw fa-user"></i> 个人信息</a>
                        </li>
                        <li>
                            <a href="http://fuck.io/stu/homework"><i class="fa fa-fw fa-gear"></i> 我的作业</a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#"><i class="fa fa-fw fa-power-off"></i> 退出</a>
                        </li>
                    </ul>
                </li>
            </ul>
            <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav side-nav">
                    <li>
                        <a href="http://fuck.io/stu"><i class="fa fa-fw fa-dashboard"></i> 管理首页</a>
                    </li>
                    <li>
                        <a href="http://fuck.io/stu/charts"><i class="fa fa-fw fa-bar-chart-o"></i> 成绩分析</a>
                    </li>
                    <li>
                        <a href="http://fuck.io/stu/tables"><i class="fa fa-fw fa-table"></i> 表格页</a>
                    </li>
                    <li>
                        <a href="http://fuck.io/stu/forms"><i class="fa fa-fw fa-edit"></i> 资料管理</a>
                    </li>
                    <li>
                        <a href="http://fuck.io/stu/bootstrapelements"><i class="fa fa-fw fa-desktop"></i> Bootstrap Elements列表</a>
                    </li>
                    <li>
                        <a href="http://fuck.io/stu/bootstrapgrid"><i class="fa fa-fw fa-wrench"></i> 我的课表</a>
                    </li>
                    <li>
                        <a href="javascript:;" data-toggle="collapse" data-target="#demo"><i class="fa fa-fw fa-arrows-v"></i> Dropdown <i class="fa fa-fw fa-caret-down"></i></a>
                        <ul id="demo" class="collapse">
                            <li>
                                <a href="#">Dropdown Item</a>
                            </li>
                            <li>
                                <a href="#">Dropdown Item</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="http://fuck.io/stu/mywork"><i class="fa fa-fw fa-table"></i> 我的工作</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </nav>

        <div id="page-wrapper">

            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            Homework 
                        </h1>
                        <ol class="breadcrumb">
                            <li>
                                <i class="fa fa-dashboard"></i>  <a href="index.html">首页</a>
                            </li>
                            <li class="active">
                                <i class="fa fa-edit"></i> 我的作业
                            </li>
                        </ol>
                    </div>
                </div>
                <!-- /.row -->
                <div class="row">
                    {foreach $homework as $value}
                        <button type="submit" class="btn btn-info" style="margin-left:20px;" name="click_pick" value="work{$value['hid']}">{$value['title']}</button>
                    {/foreach}
                </div>
                {if !empty($value)}
                <div class="row" style="margin-top:20px;" id="work_content">
                    {foreach $homework as $value}
                    <div class="row" id="work{$value['hid']}" style="display:none;" name="stu_work">
                        <div class="col-lg-6" style="margin-bottom: 30px;display:block;" id="edit_show">
                            {$value['content']}
                        </div>
                        
                        <div class="form-group col-lg-6">
                            <label>答题纸</label>
                            <textarea class="form-control" rows="20" id="val_{$value['hid']}"></textarea>
                            <button type="submit" class="btn btn-info" style="margin-left:20px;margin-top: 20px;" name="finish_work" value="{$value['hid']}">交作业</button>
                        </div>
                    </div>
                    {/foreach}
                </div>
                {else}
                    <div class="table-responsive" style="margin-left:-15px;margin-top: 20px;margin-bottom: 20px;">
                        <div class="col-sm-6">
                            <div class="panel panel-yellow">
                                <div class="panel-heading">
                                    <h3 class="panel-title">notice</h3>
                                </div>
                            <div class="panel-body">
                                目前没有需要您完成的作业！请过一会再来瞧瞧吧。
                            </div>
                        </div>
                    </div>
                    </div>
                    <div class="alert alert-info col-sm-6" style="margin-bottom: 270px;">
                        <strong>tips:</strong> 稍微学习一下课外知识吧！
                    </div>
                {/if}
                <script>
                    $(function(){
                        //默认显示最早留的作业！
                        var firstwork = $("#work_content").children("div:first-child").show();

                        $("button[name='finish_work']").unbind('click').click(function(){
                                //拼接获得对应的作业输入框的id
                                var content = '#val_' + $(this).val();
                                
                                $.ajax({
                                    cache: true,
                                    type: "POST",
                                    url:"http://fuck.io/index/stu/doHomework",
                                    data:{
                                        "homeworkid":$(this).val(), 
                                        "content":$(content).val(),                     
                                        },
                                        async: false,
                                        error: function(request) {
                                            alert("Connection error");
                                        },
                                        success: function(result) {

                                        }
                                    });
                                
                                //location.reload(false); 
                            });

                        $("button[name='click_pick']").unbind('click').click(function(){
                            //触发点击事件后，先将所有的作业都隐藏
                            $("div[name='stu_work']").hide();

                            //再将点击按钮对应的作业展示出来
                            var workid = '#' + $(this).val();
                            $(workid).show();

                            $("button[name='finish_work']").unbind('click').click(function(){
                                var content = '#val_' + $(this).val();
                                alert($(content).val());
                            });
                        });
                    });
                </script>

                <!-- /.row -->

            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script type="text/javascript" src="/static/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/static/js/bootstrap.min.js"></script>

</body>

</html>
